<ion-content>
    <div class="container-fluid p-0">
        <mat-toolbar padding class="nav-flex-between"color="primary">
              <span class='h2'>#{{ processTitle(categoryName) | titlecase }} </span>
              <span style="flex: 1 1 0;"></span>
                <ion-select placeholder='Filtrer par'>
                  <ion-select-option value='a'>Test</ion-select-option>
                </ion-select>
        </mat-toolbar>
      </div>
      <ng-container *ngIf='SubCategoryProducts | async as categories;'>
        <div class="container">
            <app-categories-display
            *ngFor='let subcat of categories'
            [showLinks]='false'
            [title]="processTitle(subcat[0]?.tag_value) | titlecase"
            [products]='subcat' [tileConf]='tileConfig'></app-categories-display>

        </div>

      </ng-container>
</ion-content>