// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~firebaseui/dist/firebaseui.css';

.centerify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.centerify-r {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}